<style>
.message{
  font-size: 30px;
  color: black;
  font-weight: 500;
}
.message2{
  font-size: 18px;
  color: black;
  font-weight: 300;
}

.neon{
  text-align: center;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 90px;
  color: #5BE0B3;
  letter-spacing: 3px;
  text-shadow: 0 0 5px #6EECC1; 
}

</style>

<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row w-100">
        <div class="col-md-3 d-flex justify-content-center align-items-end">
            <div class="neon">403</div>
        </div>
        <div class="col-md-9 d-flex flex-column justify-content-center align-items-start">
            <div class="message">
                You are not authorized.
            </div>
            <div class="message2">You tried to access a page you did not have prior authorization for.</div>
        </div>
    </div>
</div>