@using Ultility
@model ChangePasswordViewModel
@{
    string userId = Model.UserId;
}

<div class="container-fluid">
    <div class="row">
        <!-- Header -->
        <div class="col-md-12">
            <div class="card-header bg-secondary bg-gradient ml-0 py-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Edit User</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <partial name="_Sidebar" model="userId" />

        <!-- Main Content -->
        <div class="col-md-10">
            <div class="card shadow border-0 my-4">
                <div class="card-body p-4">
                    <!-- Form Section -->
                    <div>
                        <div class="mb-3">
                            <h3>Change Password</h3>
                        </div>
                        <form class="row" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" method="post">
                            <div class="row">
                                <div>
                                    <div class="col-12">
                                        <div class="border p-3">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <input asp-for="@Model.UserId" hidden />
                                            <div class="form-floating py-2 col-12">
                                                <input type="password" class="form-control border-0 shadow" asp-for="CurrentPassword" />
                                                <label class="ms-2" asp-for="CurrentPassword"></label>
                                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating py-2 col-12">
                                                <input type="password" class="form-control border-0 shadow" asp-for="Password" />
                                                <label class="ms-2" asp-for="Password"></label>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating py-2 col-12">
                                                <input type="password" class="form-control border-0 shadow" asp-for="ConfirmPassword" />
                                                <label class="ms-2" asp-for="ConfirmPassword"></label>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col-6 col-md-3">
                                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                                </div>
                                                <div class="col-6 col-md-3">
                                                    @if (!User.IsInRole(StaticDetail.Role_Customer))
                                                    {
                                                        <a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn btn-outline-primary border form-control">Back To List</a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border form-control">Back To Home</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
