<style>
    #tableData tbody td {
        vertical-align: middle;
    }
</style>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Recommend Product Slider</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="RecommendSlider" asp-action="AddProduct" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add New Product
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="tableData" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Promotion Price</th>
                    <th>Content Type</th>
                    <th>Product Type</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>
    </div>
</div>

@section Scripts {
    <script src="~/Asset/Admin/js/recommendslider.js"></script>
}
