<div>
    <h1 class="mb-3">Email Confirmation</h1>
    <div>
        <p>
            Thank you for confirm your email. Please <a data-bs-toggle="modal" data-bs-target="#loginModal" style="text-decoration: underline; color: blue">Click here to Log in</a>
        </p>
    </div>
</div>

