@model ResetPasswordViewModel

<div class="card shadow border-0">
    <div class="card-header m-lg-0 py-4" style="background-color: #1d1d1d;">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Reset Password</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
                <form class="row" asp-area="Customer" asp-controller="Account" asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger my-2"></div>
                    <input asp-for="Code" hidden />
                    <div class="form-control mb-3" style="font-size: 1.1em;">
                        <label class="mb-2" asp-for="Email" style="color: #97979a">Email</label>
                        <input type="email" class="form-control ps-0" asp-for="Email" placeholder="Enter email" style="font-size: 0.8em; background-color: transparent; border: none; outline: none; box-shadow: none; focus-visible:ring-transparent;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-control mb-3" style="font-size: 1.1em;">
                        <label class="mb-2" asp-for="Password" style="color: #97979a">Password</label>
                        <input type="password" class="form-control ps-0" asp-for="Password" placeholder="Enter password" style="font-size: 0.8em; background-color: transparent; border: none; outline: none; box-shadow: none; focus-visible:ring-transparent;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-control mb-3" style="font-size: 1.1em;">
                        <label class="mb-2" asp-for="ConfirmPassword" style="color: #97979a">Confirm Password</label>
                        <input type="password" class="form-control ps-0" asp-for="ConfirmPassword" placeholder="Repeat your password" style="font-size: 0.8em; background-color: transparent; border: none; outline: none; box-shadow: none; focus-visible:ring-transparent;" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem; font-size: 1.2em; background-color: #f72457; color: white">
                            Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
