@model Artist

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-4">
        <div class="text-center">
            <h2 class="text-white mb-0">Update Artist</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-area="Admin" asp-controller="Artist" asp-action="Edit" method="post">
            <div class="border p-4 rounded">
                <div asp-validation-summary="All" class="text-danger mb-3"></div>
                <input asp-for="Id" hidden />
                <input asp-for="Status" hidden />
                <div class="form-floating mb-3">
                    <input type="text" class="form-control border-0 shadow-sm" asp-for="ArtistName" placeholder="Name" />
                    <label asp-for="ArtistName">Name</label>
                    <span asp-validation-for="ArtistName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control border-0 shadow-sm" asp-for="Bio" placeholder="Bio" />
                    <label asp-for="Bio">Bio</label>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-area="Admin" asp-controller="Artist" asp-action="Index" class="btn btn-outline-primary">Back To List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
