<div class="text-center">
    <img src="/images/nodatafound.svg" alt="No data">
    <h1 class="mt-5 mb-3">This item might not exist or is no longer available</h1>
    <p class="mb-3">
        This item might have been deleted, expired, or you might not have permission to view it. Contact the owner of this item for more information.
    </p>
    <a class="btn btn-primary btn-lg" asp-area="Customer" asp-controller="Home" asp-action="Index">Home Page</a>
</div>

