<div>
    <h1 class="mb-3">Change password confirmation</h1>
    <div>
        <p>
            Your password has been changed. Please <a data-bs-toggle="modal" data-bs-target="#loginModal" style="text-decoration: underline; color: blue">Click here to Log in</a>
        </p>
    </div>
</div>
